# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local databases & SQLite
*.db
*.db-journal
*.sqlite
*.sqlite3

# Added md file to ignore for internal uses
problems.md
 
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel local environment
.vercel/

# Caches
.cache/
.npm/
.eslintcache
.cache

problems.md
.env
problems.md
